/*Cabecera-Nav*/
.cabecera__container{
    /*Inicio flexbox, un elemento al lado del otro*/
    display: flex;
    /*Separo los elementos con la misma distancia entre ellos*/
    justify-content: space-between;
    /*Alineo el contenido en el centro del contenedor*/
    align-items: center;
    /*Dejar fijo el elemento al scroll*/
    position: fixed;
    /*En que eje va a quedar fijado*/
    top: 0;

}

.cabecera__buscar__item{
    /*Oculto el elemento en todos los dispositivos*/
    display: none;
}

/*Menu lateral-azul*/
.menu__container{
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li{
    align-self: center;


}

/*Elementos de icono y texto de cada lista*/
.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/*Oculto las listas de hermanos de menu__lista*/
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}



/*Seccion superior de busqueda*/
.superior__seccion__container{
    display: flex;
    align-items: center;
    /*manejo de textos nowrap, no se quiebren-dividan*/
    white-space: nowrap;
    /*barra para ver todo el contenido*/
    overflow: scroll;
    gap: 15px;

}

/*Seccion videos*/
.videos__item{
    height: 303px;
    width: 280px;
    flex-grow:1;
}

.videos__container{
    display: flex;
    flex-wrap: wrap;
}

/*Descripcion videos*/
.descripcion-video {
    margin-top: 1rem;
    display: flex;
    align-items: start; 
    
}

.descripcion-video img {
    margin-right: 1rem; 
    flex-shrink: 0;  /*Evita que la imagen se reduzca */
    
}

.detalles__video {
    flex-direction: column;
    text-align:left;

}

.detalles__video h3{
    margin-bottom: 10px;
}


/*Footer*/
.rodapie__container{
    /*inicio flexbox un elemento al lado del otro*/
    display: flex;
    /*Distribuir por columnas
    flex-direction: column;
    flexwrap ajusta el tamaño de las columnas al contenedor
    flex-wrap: wrap;*/

    /*flow hace la distribucion por columnas y ajusta el tamaño*/
    flex-flow: column wrap;
}

/*Desktop*/
@media (min-width:834px){
    /*Nav*/
    .cabecera__buscar__item{
        /*Aparezco el elemento en los dispositivos con al menos 834px*/
        display: block;
    }

    /*Footer*/
    .rodapie__container{
        justify-content: space-between;
    }

}

@media(min-width:847px){
    /*Menu azul para tablet izq*/
    .menu__container{
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }
    /*Items del menu*/
    .menu__lista{
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

}

/*Desktop*/
@media(min-width:1440px){
    .menu__container{
        width: 239px;
        overflow: scroll;

    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
    display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;

    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    .menu__itens{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .videojuegos{
        order: 3;
    }

    .peliculas{
        order:2;
    }

    .premium{
        order:1;
    }

}
