/*Cabecera-Nav*/
.cabecera__container{
    /*Inicio flexbox, un elemento al lado del otro*/
    display: flex;
    /*Separo los elementos con la misma distancia entre ellos*/
    justify-content: space-between;
    /*Alineo el contenido en el centro del contenedor*/
    align-items: center;
    /*Dejar fijo el elemento al scroll*/
    position: fixed;
    /*En que eje va a quedar fijado*/
    top: 0;

}

.cabecera__buscar__item{
    /*Oculto el elemento en todos los dispositivos*/
    display: none;
}

/*Menu lateral/azul*/
.menu__container{
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li{
    align-self: center;


}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

/*Seccion superior de busqueda*/
.superior__seccion__container{
    display: flex;
    align-items: center;
    /*manejo de textos nowrap, no se quiebren-dividan*/
    white-space: nowrap;
    /*barra para ver todo el contenido*/
    overflow: scroll;
    gap: 15px;

}



/*Footer*/
.rodapie__container{
    /*inicio flexbox un elemento al lado del otro*/
    display: flex;
    /*Distribuir por columnas
    flex-direction: column;
    flexwrap ajusta el tamaño de las columnas al contenedor
    flex-wrap: wrap;*/

    /*flow hace la distribucion por columnas y ajusta el tamaño*/
    flex-flow: column wrap;
}

@media (min-width:834px){
    /*Nav*/
    .cabecera__buscar__item{
        /*Aparezco el elemento en los dispositivos con al menos 834px*/
        display: block;
    }


    /*Footer*/
    .rodapie__container{
        justify-content: space-between;
    }

}