.cabecera__container{
    /*Inicio flexbox*/
    display: flex;
    /*Separo los elementos con la misma distancia entre ellos*/
    justify-content: space-between;
    /*Alineo el contenido en el centro del contenedor*/
    align-items: center;
    /*Dejar fijo el elemento al scroll*/
    position: fixed;
    /*En que eje va a quedar fijado*/
    top: 0;

}

.cabecera__buscar__item{
    /*Oculto el elemento en todos los dispositivos*/
    display: none;
}

@media (min-width:834px){
    .cabecera__buscar__item{
        /*Aparezco el elemento en los dispositivos con al menos 834px*/
        display: block;
    }

}